
  h1, h2, h3, h4 , p{
    font-family: Helvetica;
  }
  h1{
background-image: url('./extras/img1.pattern.webp');
text-align: center;
font-size:  100px;
color: khaki;
  }
  h2 {
    font-size: 32px;
    color: white;
  }
#brushes{
  background-color: mediumspringgreen;
}
#frames {
  background-color: lightcoral;
}
#paint{
  background-color: skyblue;
}
.price{
  color: blue;
}